<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{opts.nginxlocation}}img/favicon.ico" type="image/x-icon" />
  <title>{{opts.siteName}}</title>

  <link rel="stylesheet" href="{{opts.nginxlocation}}css/gulp.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{opts.nginxlocation}}js/what-input.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>

</head>
<body>



  {{{body}}}


<script>
  $(document).foundation()
</script>
</body>
</html>
